.container {
  width: 300px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.label, input {
  width: 100%;
}

#submit-button {
  background-color: blue;
  color: white;
  padding: 10px;
}
